.option-display {
  &:not([disabled]):hover {
    transform: translateX(1.2rem);
  }
  &.correct {
    background-color: #35cd35;
    color: var(--color-darkest);
  }
  &.wrong {
    background-color: #d23333;
    color: var(--color-light);
  }
}
