.quiz-summary {
  .correct-answer {
    background-color: var(--color-success);
    color: var(--color-darkest);
  }

  .wrong-answer {
    background-color: var(--color-danger);
    color: var(--color-light);
  }
}
