@import "../../styles/setup/mixins";

.contact-management-page {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--color-light);
  color: var(--color-text);
  margin-bottom: 8rem;

  overflow-y: scroll;
  @include scrollbar-hidden;

  .title {
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .management-page-counter {
    padding: 0 2rem;
  }
}
