.question-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  gap: 10px;

  .question-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: auto;
    padding: 2rem;

    .question-preview-question {
      font-size: 2.6rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    .question-preview-options {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      font-size: 2rem;
      margin-left: 1rem;
    }
  }

  .question-preview-details {
    display: flex;
    justify-content: space-around;
    font-size: 1.8rem;
    font-weight: 600;

    .question-preview-details-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.25rem;

      .correct-option-num {
        opacity: 0;
      }

      &:hover {
        .correct-option-num {
          opacity: 1;
        }
      }
    }
  }

  .question-preview-btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
  }
}
