.question-search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: var(--color-dark);
  padding: 0 5rem;

  .question-search-bar-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
