.quiz-header {
  width: 72rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;

  img {
    width: 14rem;
    height: 14rem;
  }
}
