.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: var(--color-darkest);
  z-index: 1000;
  border-radius: 25px;
  box-shadow: 0 0 10px 5px var(--color-darkest);
  padding: 20px;

  &.login-signup {
    top: 40%;
    width: 40%;
    height: 40%;
  }

  h2 {
    color: #fff;
    margin-bottom: 20px;
  }

  .loader-container {
    margin: auto;
  }
}
