.app-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark);
  color: var(--color-light);
  text-align: center;
  padding: 0 2.5rem;
  font-size: 2rem;

  a {
    color: var(--color-light);
    text-decoration: none;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}
