.btn-question-search {
  background-color: var(--color-darkest);
  border: none;
  border-radius: 25px;
  color: var(--color-light);
  cursor: pointer;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
  width: 100px;

  &:hover {
    filter: brightness(1.1);
  }
}
