@import "../../../styles/setup/mixins";

.contact-msgs-list {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
  width: 100%;
  overflow-y: scroll;
  @include scrollbar-hidden;

  .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--color-dark);

    .title {
      text-transform: capitalize;
      font-weight: 600;
      margin-bottom: 0.5rem;
      text-align: center;
      font-size: 3rem;
    }

    .count {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  .no-res-msg {
    text-align: center;
    margin: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-dark);
  }
}
