@import "../../../styles/main.scss";

.option-display {
  &:not([disabled]):hover {
    transform: translateX(1.2rem);
  }
  &.correct {
    background-color: var(--color-theme);
    color: var(--color-light);
  }
  &.wrong {
    background-color: var(--color-accent);
    color: var(--color-darkest);
  }
}
