.question-search-input{
    font-family: inherit;
    font-size: 1.6rem;
    color: var(--color-light);
    background-color: var(--color-darkest);
    border: 2px solid var(--color-dark);
    border-radius: 25px;
    padding: 1.2rem 3rem 1.2rem 2.2rem;
}