@import "./QuestionLoaderService.scss";

.question-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;

  .question-loader-inner-container {
    position: relative;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      top: 210px;
      left: 26px;
      width: 100px;
      height: 32px;
      border-radius: 100%;
      background-color: rgba(222, 225, 228, 0.4);
      animation-name: shadow-loop;
      animation-duration: 0.7s;
      animation-iteration-count: infinite;
      animation-timing-function: ease;
      animation-direction: alternate;
    }

    .maginifying-glass-handle {
      position: relative;
      left: 112px;
      top: 60px;
      animation-name: cloud-loop;
      animation-duration: 0.7s;
      animation-iteration-count: infinite;
      animation-timing-function: ease;
      animation-direction: alternate;

      &::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 6px;
        background-color: #dee1e4;
        transform: rotate(45deg);
      }

      &::after {
        content: "";
        position: absolute;
        left: 30px;
        top: 20px;
        width: 36px;
        height: 12px;
        background-color: #dee1e4;
        transform: rotate(45deg);
        border-radius: 0 4px 4px 0;
      }
    }
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    border: 9px solid #dee1e4;
    overflow: hidden;
    animation-name: cloud-loop;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;

    .wrap {
      display: flex;
      justify-content: space-between;
      width: 150px;

      .box {
        display: flex;
        justify-content: center;
        animation: 8s row-loop linear infinite normal;

        .code-file-icon-container {
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 210;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            background-color: #fff;
            top: 16px;
            left: 46px;
            width: 5px;
            height: 17px;
          }
          &::after {
            content: "";
            position: absolute;
            background-color: #fff;
            width: 40px;
            height: 40px;
            top: 28px;
            left: 24px;
          }

          .code-file-icon {
            z-index: 20;
            font-size: 55px;
            margin: 16px;
          }
        }
      }
    }
  }
}
